<div class="todo-list">
  <h2>{{title}}</h2>
  <div (cdkDropListDropped)="onDropped($event)" cdkDropList [cdkDropListData]="tasks" class="task-list">
    <div *ngFor="let task of tasks" cdkDrag [cdkDragData]="task" class="task">
      <input type="checkbox" class="done-checkbox" [(ngModel)]="task.done" (change)="onTaskChanged(task)" />
      <span class="title" (click)="showDetails(task, $event)">
        {{task.title}}
      </span>
      <div class="delete" (click)="removeTask(task)"><img src="/assets/images/delete.svg" alt=""></div>
    </div>
    <ng-container *ngIf="currentTask">
      <!-- <ng-container *ngComponentOutlet="TaskComponent;" [task]="currentTask"></ng-container> -->
      <app-task-popup #popup [task]="currentTask" (click)="onPopupClick($event)" (taskChange)="onTaskChanged(popup.task)"></app-task-popup>
    </ng-container>
  </div>
</div>
<app-task-form #form></app-task-form>
